<?xml version="1.0"?>
<robot name="Wall-E">
  <link name="base_link">
    <visual>
      <geometry>
      <origin rpy="0.0 0 0" xyz="0 0 0"/>
        <cylinder length="0.6" radius="0.2"/>
        <mesh filename="package://urdf_tutorial/meshes/l_finger.dae"/>
      </geometry>
    </visual>
  </link>
</robot>
